# IDE
/.idea/

# системные файлы разных ОС
.DS_Store
Thumbs.db

# генерируемые дампы и XML, которые содержат данные
*.sql
*.xml

# контент-файлы
/upload

# ядро Битрикс
/bitrix

# лог файлы
*.log
*.txt



